spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    database-platform: org.hibernate.dialect.H2Dialect

  graphql:
    graphiql:
      enabled: false

logging:
  level:
    com.example.incidenttracker: INFO
    org.hibernate: WARN
